@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: arial,sans-serif;
}
body{
    background:#C7C7C7;
}

a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}
a:hover{
    opacity: 0.7;
}
.logo{
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 4px;
}
.nav{
    display:flex;
    justify-content: space-around;
    align-items:center;
    font-family:arial;
    background:#427A3B;
    height:8vh;
    
}

.nav-list{
    list-style:none;
    display:flex;
}
.nav-list li{
    letter-spacing:3px;
    margin-left:32px;
}
#banner{
    filter:blur(0.35rem);
    background:#C7C7C7;
    display: block;
    height: 94vh;
    width: 100%;
    padding:0px;
    margin:0px; 
}
.conteudo h1 {
    position: absolute;
   font-family:'Pacifico';          /* Texto de boa noite */
    font-size:2.6rem;
    text-shadow: 2px 3px 12px;
    color:#fff;
    top:10rem;
    left:33rem;
    animation:pisca_pisca 1.5s infinite;
}
.conteudo h2{
    position: absolute;
    font-size: 28px;
    top:18.5rem;
    margin-left:40rem;
    color:#fff;
}
@keyframes pisca_pisca{
    0%{color:#D60025;}
    10%{color:#D60025;}
    15%{color:lightgreen;}
    25%{color:lightgreen;}
    35%{color:white;}
    45%{color:white;}
    55%{color:#D60025;}
    65%{color:#D60025;}
    75%{color:lightgreen;}
    85%{color:lightgreen;}
    95%{color:#D60025;}
    100%{color:#D60025;}

}

.conteudo img{
    max-width: 10%;
    position: absolute;
    top:18rem;
    margin-left:25rem;
    border-radius:50%;
    border:1px solid black;
}
.conteudo p{
    position:absolute;
    top:23rem;
    margin-left:36rem;
    color:#fff; 
}
.barra{
    margin:3px 0px;
    display:flex;
    justify-content: space-around;
    align-items:center;
    font-family:arial;
    background:#427A3B;
    height:8vh;
}

.nav-name{
    text-align:center;
    color:#fff;
    font-size:40px;
    text-shadow: 2px 3px 12px;
    animation:pisca_pisca 1.5s infinite;
}
.bloco-notas{
    max-width:33%;
    
    margin: 25px 0px 0px 20px;
}
.conteudo2 h2{
    font-family:'Send Flowers';
    position: absolute;
    top:59.3rem;
    margin-left: 4.8rem;
    font-size: 35px;
}
.fluzao div{
    display:grid;
    grid-template-columns: 1fr 1fr;   
}
.escudo{
    max-width:49%;
    margin-left: 10rem;
    top:10rem;
    padding: 0px;
}
